<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>743337854958-s1heoe8bi8qch2mld1dbdr1qhd1kl55h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.743337854958-s1heoe8bi8qch2mld1dbdr1qhd1kl55h</string>
	<key>API_KEY</key>
	<string>AIzaSyD1g6ex1Bd-dwkn_gCyLDD28smfaWyII_g</string>
	<key>GCM_SENDER_ID</key>
	<string>743337854958</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.enricogollner.MensageApp</string>
	<key>PROJECT_ID</key>
	<string>mensageapp-7d196</string>
	<key>STORAGE_BUCKET</key>
	<string>mensageapp-7d196.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:743337854958:ios:d26ad6f9613d141456f0ff</string>
</dict>
</plist>